html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#experiencia {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.camada {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#sequencia-imagens {
  z-index: 1;
}

.foto-sequencia {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
  opacity: 0;
}

.foto-sequencia:first-child {
  opacity: 1;
}

#cabecalho {
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  color: white;
  z-index: 5;
  opacity: 0.3;
}



#cabecalho a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

#livro {
  width: 180px;
  height: 130px;

  position: absolute;
  right: 70px;
  bottom: 60px;

  opacity: 0;
  z-index: 4;

  cursor: pointer;

  transition: width 0.6s, height 0.6s, opacity 0.4s;
}

#imagem-livro {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#form-presenca {
  display: none;
}

#livro.aberto {
  width: 480px;
  height: 360px;
}

#livro.aberto #imagem-livro {
  content: url("../img/livro/livro-aberto.png");
}

#livro.aberto #form-presenca {
  display: block;

  position: absolute;
  top: 65px;
  left: 95px;

  width: 290px;
}

#form-presenca label {
  display: block;
  text-align: left;
  margin-top: 10px;
  font-size: 10px;
  color: #2b1a0c;
}

#form-presenca input {
  width: 100%;
  height: 21px;
  margin-top: 4px;
  padding-left: 6px;
  box-sizing: border-box;

  border: 1px solid #8a6332;
  background-color: #fff7e8;
}

#botao-presenca {
  margin-top: 10px;
  width: 170px;
  height: 34px;

  background-color: #8a6332;
  color: white;

  border: none;
  cursor: pointer;

  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
}

#mensagem-presenca {
  color: #2b1a0c;
  font-weight: bold;
  margin-top: 10px;
  font-size: 13px;
}

#fechar-livro {
  display: none;

  position: absolute;
  top: 25px;
  right: 35px;

  width: 28px;
  height: 28px;

  background-color: #8a6332;
  color: white;

  border: none;
  cursor: pointer;
}

#livro.aberto #fechar-livro {
  display: block;
}

#links-portas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.porta-link {
  position: absolute;
  display: block;
 

  /* deixa visível só para testar */
 
}

/* Porta esquerda */
.porta-imagem {
  left: 29%;
  top: 49%;
  width: 7%;
  height: 28%;
}

/* Porta do meio */
.porta-som {
  left: 46%;
  top: 49%;
  width: 8%;
  height: 28%;
}

/* Porta direita */
.porta-video {
  left: 64%;
  top: 50%;
  width: 7%;
  height: 26%;
}
